name: Kasm Ubuntu Jammy dind 1.17.0

on:
  push:
    branches: [main]
    paths:
      - "kasm_workspace/ubuntu/1.17.0/dockerfile.jammy-dind"
  workflow_dispatch:
  # schedule:
  #   - cron: '0 16 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: |
        docker build --pull --no-cache -f kasm_workspace/ubuntu/1.17.0/dockerfile.jammy-dind -t ${{ secrets.DOCKER_USERNAME }}/ubuntu-jammy-dind:1.17.0-rolling-daily .

    - name: Push the Docker image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/ubuntu-jammy-dind:1.17.0-rolling-daily
